.navbar {
  position: fixed; // Fixe la barre de navigation en haut de la page
  top: 0;
  width: 100%; // Fait en sorte que la nav occupe toute la largeur
  background-color: #333; // Couleur de fond de la barre de navigation
  overflow: hidden;
  z-index: 1000; // Assure que la nav est au-dessus des autres éléments

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; // Centrer les liens de navigation
    align-items: center;

    .nav-link {
      display: block;
      padding: 14px 20px;
      color: white; // Couleur du texte
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s; // Transition pour le survol

      &:hover, &.active {
        background-color: #555; // Couleur de survol et d'élément actif
      }
    }
  }
}

