/* styles/ConnexionForm.css */

:root {
  --noir: #000000;
  --blanc: #FFFFFF;
  --bleu: #12225D;
  --violet: #74279E;
}

.connexion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 80vh; /* Ajout de cette ligne */
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

input, select, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--bleu);
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

input:focus, select:focus, button:focus {
  border-color: var(--violet);
}

button {
  color: var(--blanc);
  background-color: var(--bleu);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--violet);
  transform: translateY(-2px);
}

.toggle-form {
  margin-top: 15px;
  background-color: transparent;
  color: var(--blanc);
  border: 2px solid var(--blanc);
}

.toggle-form:hover {
  background-color: var(--blanc);
  color: var(--noir);
}

h2 {
  color: var(--blanc);
  margin-bottom: 15px;
}
