.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: var(--blanc);
  background: linear-gradient(135deg, #12225D 0%, #74279E 100%);
  backdrop-filter: blur(10px);
}

.error-page a {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4); /* Adjust transparency for glass effect */
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: var(--blanc);
  text-decoration: none;
  border: 1px solid var(--blanc);
  transition: all 0.3s ease-in-out;
}
