/* styles/errorPage.css */

:root {
  --noir: #000000;
  --blanc: #FFFFFF;
  --bleu: #12225D;
  --violet: #74279E;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: var(--blanc);
  background-color: var(--bleu);
}

.error-page h1, .error-page h2 {
  margin: 0.5em 0;
}

.error-page p {
  margin: 20px 0;
}

.error-page a {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: var(--blanc);
  text-decoration: none;
  border: 1px solid var(--blanc);
  transition: all 0.3s ease-in-out;
}

.error-page a:hover {
  background-color: var(--violet);
  color: var(--blanc);
  transform: translateY(-5px);
}
