.cardContainer {
    display: flex;
    justify-content: center;

}

.card {
    width: 300px; /* Largeur de la carte */
    height: 400px; /* Hauteur de la carte */
    background-size: cover; /* Couvrir tout l'espace disponible */
    background-position: center; /* Centrer l'image de fond */
    border-radius: 8px; /* Arrondir les coins de la carte */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ajouter une ombre pour un effet de profondeur */
    /* Autres styles... */
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
}
