/* App.css */

:root {
  --noir: #000000;
  --blanc: #FFFFFF;
  --bleu: #12225D;
  --violet: #74279E;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bleu);
  color: var(--blanc);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--noir);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav a {
  color: var(--blanc);
  text-decoration: none;
  font-size: 18px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.formulaire {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--blanc);
  background-color: transparent;
  color: var(--blanc);
}

.bouton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--violet);
  color: var(--blanc);
  transition: background-color 0.3s;
}

.bouton:hover {
  background-color: var(--noir);
}